/*h1 header font*/
@import url('https://fonts.googleapis.com/css?family=Monoton');
/*h2 header font*/
@import url('https://fonts.googleapis.com/css?family=Marck+Script|Monoton');
/*h3 font*/
@import url('https://fonts.googleapis.com/css?family=Lobster');
/*paramgraph font*/
@import url('https://fonts.googleapis.com/css?family=Righteous');


body .background:first-child{
	background-image: url(space.jpg);
	height: 100%;
	width: 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
		-webkit-animation: bg-pan-tl 15s both;
	        animation: bg-pan-tl 15s both;

}
.grid-container{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.flex-container{
	display: flex;
	flex-wrap: wrap;
}


header{
	text-align: center;
	background-image: url(sun.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	width: 520px;
  	height: 500px;
  	padding-top: 200px;
  	margin-bottom: 20px;
	-webkit-animation: pulsate-fwd 5s ease-in-out infinite both;
	        animation: pulsate-fwd 5s ease-in-out infinite both;
}

.intro{
  	width: 200px;
  	height: 200px;
  	margin-left: 100px;
  	color: #fff040;
  	text-align: center;
}
.intro-bg{
	width: 200px;
  	height: 200px;
	background-image: url(mercury.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	-webkit-animation: rotate-center 10s linear infinite both;
	  		animation: rotate-center 10s linear infinite both;
}


.explaination{
  	width: 300px;
  	height: 300px;
  	padding-top: 20px;
  	color: white;
  	text-align: center;
}
.explaination-bg{
	background-image: url(venus.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	width: 300px;
  	height: 300px;
  	padding-top: 20px;
  	margin-top: 150px;
  	-webkit-animation: rotate-center 100s linear infinite reverse both;
	        animation: rotate-center 100s linear infinite reverse both;
}

.example{
  	width: 250px;
  	height: 250px;
  	margin-top: 300px;
  	color: blue;
  	text-align: center;
}
.example-bg{
	background-image: url(mars.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	width: 250px;
  	height: 250px;
  	-webkit-animation: rotate-center 3s linear infinite both;
	  		animation: rotate-center 3s linear infinite both;
  	
}


.basic-code1{
  	width: 420px;
  	height: 400px;

  	color: aqua;
  	padding-top: 80px;

  	margin-top: 240px;
  	margin-left: 250px;
  	font-size: 20px;
  	
}

.basic-code1-bg{
	background-image: url(jupiter.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	width: 400px;
  	height: 400px;
  	padding-top: 80px;

  	margin-top: 240px;
  	margin-left: 180px;
  	  	-webkit-animation: rotate-center 2s linear infinite both;
	  		animation: rotate-center 2s linear infinite both;
  	
}

.basic-code2{
	background-image: url(saturn.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	width: 625px;
  	height: 375px;
  	padding-top: 80px;
  	padding-left: 200px;
  	color: crimson;
  	font-size: 20px;
  	
}

.step1{
  	width: 300px;
  	height: 300px;
  	padding-top: 50px;
  	margin-left: 40px;
  	color: blueviolet;
  	
  	text-align: center;
}
.step1-bg{
	background-image: url(uranus.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	width: 320px;
  	height: 300px;
  	margin-top: 200px;
  	margin-left: 20px;
  	padding-top: 50px;
  	color: blueviolet;
  	
  	text-align: center;
 	-webkit-animation: rotate-center 2.5s linear infinite reverse both;
	        animation: rotate-center 2.5s linear infinite reverse both;
}

.step2{
  	width: 350px;
  	height: 350px;
  	margin-top: 400px;
  	margin-left: 20px;
  	color: lime;
  	
  	text-align: center;
}
.step2-bg{
	background-image: url(neptune.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	width: 350px;
  	height: 350px;
  	color: lime;
  	
  	text-align: center;
  	-webkit-animation: rotate-center 2.3s linear infinite both;
	  		animation: rotate-center 2.3s linear infinite both;
}


.copyright{
	background-image: url(earth-view.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	height: 400px;
  	padding-top: 250px;
  	margin-top: 100px;
  	text-align: center;
  	color: red;
  	font-size: 20px;
  	
}
.copyright a{
  	color: magenta;
}

header h1{
	font-family: 'Monoton', cursive;
	color: blue;
}
header h2{
	font-family: 'Marck Script', cursive;
	color: #3f00ff;
	font-weight: bold;
	
}

div h3, div h4{
	font-family: 'Lobster', cursive;
}
p{
	font-family: 'Righteous', cursive;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-2-1 22:9:58
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bg-pan-tl
 * ----------------------------------------
 */
@-webkit-keyframes bg-pan-tl {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes bg-pan-tl {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-2 20:2:22
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-2 21:5:16
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-vert-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2019-2-2 22:3:43
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

