/*h1 header font*/
@import url('https://fonts.googleapis.com/css?family=Monoton');
/*h2 header font*/
@import url('https://fonts.googleapis.com/css?family=Marck+Script|Monoton');
/*h3 font*/
@import url('https://fonts.googleapis.com/css?family=Lobster');
/*paramgraph font*/
@import url('https://fonts.googleapis.com/css?family=Righteous');


body .background:first-child{
	background-image: url(space.jpg);
	height: 100%;
	width: 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
		-webkit-animation: bg-pan-tl 15s both;
	        animation: bg-pan-tl 15s both;

}
.grid-container{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.flex-container{
	display: flex;
	flex-wrap: wrap;
}


header{
	text-align: center;
	background-image: url(sun.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	width: 520px;
  	height: 500px;
  	padding-top: 200px;
  	margin-bottom: 20px;
}

.intro{
	background-image: url(mercury.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	width: 200px;
  	height: 200px;
  	margin-left: 100px;
  	color: #fff040;
  	text-align: center;
  	
}

.explaination{
	background-image: url(venus.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	width: 300px;
  	height: 300px;
  	padding-top: 20px;
  	margin-top: 150px;
  	color: white;
  	text-align: center;
  	
}

.example{
	background-image: url(mars.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	width: 250px;
  	height: 250px;
  	margin-top: 300px;
  	color: blue;
  	text-align: center;
  	
}

.basic-code1{
	background-image: url(jupiter.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	width: 420px;
  	height: 400px;

  	color: #e91ed9;
  	padding-top: 80px;
  	padding-left: 100px;
  	margin-top: 20px;
  	margin-left: 200px;
  	font-size: 20px;
  	
}

.basic-code2{
	background-image: url(saturn.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	width: 620px;
  	height: 375px;

  	color: crimson;
  	margin-top: 20px;
  	padding-top: 80px;
  	padding-left: 200px;
  	font-size: 20px;
  	

}

.step1{
	background-image: url(uranus.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	width: 300px;
  	height: 300px;
  	margin-top: 200px;
  	padding-top: 50px;
  	color: blueviolet;
  	
  	text-align: center;
}

.step2{
	background-image: url(neptune.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	width: 350px;
  	height: 350px;
  	margin-top: 400px;
  	margin-left: 20px;
  	color: lime;
  	
  	text-align: center;
}


.copyright{
	background-image: url(earth-view.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	height: 400px;
  	padding-top: 250px;
  	text-align: center;
  	color: red;
  	font-size: 20px;
  	
}
.copyright a{
  	color: magenta;
}

header h1{
	font-family: 'Monoton', cursive;
	color: blue;
}
header h2{
	font-family: 'Marck Script', cursive;
	color: #3f00ff;
	font-weight: bold;
	
}

div h3, div h4{
	font-family: 'Lobster', cursive;
}
p{
	font-family: 'Righteous', cursive;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-2-1 22:9:58
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bg-pan-tl
 * ----------------------------------------
 */
@-webkit-keyframes bg-pan-tl {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes bg-pan-tl {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}



